@font-face {
  font-family: "pokefont";
  src: url(./assets/fonts/PixelifySans-VariableFont_wght.ttf);
}
header {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15vh;
  background-image: linear-gradient(to right, red, yellow);
}

.box1 {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.box2 {
  height: 100%;
  display: flex;
  align-items: center;
}

.pokeLogo {
  width: 320px;
}

.pikagif {
  width: 150px;
  height: 120px;
}

.pokeball {
  width: 100px;
  animation: gelatine 1s repeat;
}

.pokeball:hover {
  animation-name: spin;
  animation-duration: 0.15s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes gelatine {
  from, to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
.chariheader {
  width: 250px;
}

.pokedance {
  width: 150px;
}

#search {
  margin: 20px;
}

label {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 30px;
}

input {
  margin: 0px;
  font-size: 25px;
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
  header {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-image: linear-gradient(to right, red, yellow);
  }
  .box1 {
    margin-right: 30px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .box2 {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .pokeLogo {
    width: 150px;
  }
  .pikagif {
    width: 70px;
    height: 120px;
    visibility: hidden;
    z-index: -1;
  }
  .pokeball {
    width: 70px;
    animation: gelatine 1s repeat;
  }
  .pokeball:hover {
    animation-name: spin;
    animation-duration: 0.15s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes gelatine {
    from, to {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }
  .chariheader {
    width: 250px;
  }
  .pokedance {
    width: 150px;
  }
  #search {
    margin: 0px;
  }
  label {
    font-family: "Pokemon Solid", sans-serif;
    font-size: 18px;
  }
  input {
    margin: 0px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 639px) {
  header {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-image: linear-gradient(to right, red, yellow);
  }
  .box1 {
    height: 50%;
    display: flex;
    align-items: center;
  }
  .box2 {
    margin-top: 20px;
    height: 50%;
    display: flex;
    align-items: center;
  }
  .pokeLogo {
    width: 150px;
  }
  .pikagif {
    width: 70px;
    height: 120px;
    visibility: hidden;
    z-index: -1;
  }
  .pokeball {
    width: 70px;
    animation: gelatine 1s repeat;
  }
  .pokeball:hover {
    animation-name: spin;
    animation-duration: 0.15s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes gelatine {
    from, to {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }
  .chariheader {
    width: 250px;
  }
  .pokedance {
    width: 150px;
  }
  #search {
    margin: 0px;
  }
  label {
    font-family: "Pokemon Solid", sans-serif;
    font-size: 18px;
  }
  input {
    margin: 0px;
    font-size: 18px;
  }
}
.container {
  display: flex;
  height: 70vh;
  width: 100%;
}

main {
  border: 2px solid black;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(to right, red, yellow);
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

@font-face {
  font-family: "pokefont";
  src: url(./assets/fonts/PixelifySans-VariableFont_wght.ttf);
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pokedex {
  margin: 40px;
  background-color: white;
  background-image: url("./assets/fondoCarta.png");
  background-size: 280px 380px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 380px;
  border-radius: 15px;
  z-index: 1;
  box-shadow: 15px 20px;
}

.pokedex:hover {
  transform: rotateY(180deg);
}

.ache2 {
  font-family: "pokefont";
  font-size: 30px;
  text-transform: capitalize;
}

.pokeImg {
  width: 130px;
}

.pokeImgback {
  width: 150px;
}

.typePoke {
  font-family: "pokefont";
  font-size: 20px;
}

.idType {
  position: relative;
  bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

h3 {
  font-size: 20px;
}

.ability {
  font-family: "pokefont";
  font-size: 20px;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/backside.png");
  background-size: 280px 380px;
  transform: rotateY(180deg);
  justify-content: space-around;
  align-items: center;
}

.grass {
  background-image: url("./assets/fondo-grass.webp");
}

.water {
  background-image: url("./assets/fondo-water.webp");
}

.fire {
  background-image: url("./assets/fondo-fire.jpg");
}

.bug {
  background-image: url("./assets/fondo-bug.png");
}

.normal {
  background-image: url("./assets/fondo-normal.png");
}

.poison {
  background-image: url("./assets/fondo-poison.webp");
}

.electric {
  background-image: url("./assets/fondo-electric.png");
}

.ground {
  background-image: url("./assets/fondo-ground.png");
}

.fairy {
  background-image: url("./assets/fondo-fairy.png");
}

.fighting {
  background-image: url("./assets/fondo-fight.png");
}

.psychic {
  background-image: url("./assets/fondo-psychic.png");
}

.rock {
  background-image: url("./assets/fondo-rock.png");
}

.ghost {
  background-image: url("./assets/fondo-ghost.png");
}

.ice {
  background-image: url("./assets/fondo-ice.png");
}

.dragon {
  background-image: url("./assets/fondo-dragon.png");
}

@font-face {
  font-family: "pokefont";
  src: url(./assets/fonts/PixelifySans-VariableFont_wght.ttf);
}
footer {
  font-family: "Pokemon Solid", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
  background-color: black;
}

.pokedexylogo {
  font-family: "Pokemon Solid", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: black;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: yellow;
  text-decoration: underline;
}

.pikaFoot {
  width: 150px;
}

.pfoot {
  color: white;
  font-size: 9px;
}

@media only screen and (max-width: 639px) {
  footer {
    font-family: "Pokemon Solid", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: black;
  }
  .pokedexylogo {
    font-family: "Pokemon Solid", sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: black;
  }
  h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: yellow;
    text-decoration: underline;
  }
  .pikaFoot {
    width: 100px;
  }
  .multa {
    text-align: center;
  }
  .pfoot {
    color: white;
    font-size: 8px;
  }
}
body {
  margin: 0px;
  width: 100vw;
}/*# sourceMappingURL=style.css.map */